@media print {
    header.title-bar,
    .article-header header small,
    .setting-bar,
    .article-ribbon,
    .article-footer,
    #subscribe_mobile_cont,
    nav.nav-footer,
    .download,
    .copy-footer,
    .author-info-container,
    .article-span-photo,
    .article-inline-photo {
        display: none !important;
    }

    .article-header {
        border-top: none !important;
    }

    .col-lg-6 {
        max-width: 50% !important;
    }

    .article-body .article-paragraph {
        font-size: 18px !important;
        margin: 0 0 5px 0 !important;
        line-height: 25px !important;
        color: #000 !important;
    }

    .article-dual-body-item {
        margin: 10px 0 0 0 !important;
    }

    a {
        color: #000 !important;
        text-decoration: none !important;
    }
}
